.header {
  position: relative;
  z-index: 0;
  padding: var(--s-1200) 0;
  color: var(--c-neutral-100);
}

.header__title,
.header__sub-title {
  font-weight: var(--fw-200);
}

.header__title {
  font-size: var(--fs-800);
}

.header__sub-title {
  font-size: var(--fs-400);
}

.header__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
